# Version control
.git
.gitignore

# Python cache
__pycache__
*.py[cod]
*$py.class
*.pyc

# Virtual environments
venv/
env/
.env

# Data and Configuration (Mount these as volumes!)
data/
config/

# Local Dev Scripts
dev_scripts/
environments/

# Temp files
*.log
*.tmp
.DS_Store

# IDE settings
.vscode/
.idea/
