
main.dist/altair/vegalite/v5/schema/vega-lite-schema.json
main.dist/altair/vegalite/v5/schema/vega-themes.json
main.dist/arrow.dll
main.dist/arrow_acero.dll
main.dist/arrow_dataset.dll
main.dist/arrow_python.dll
